#userCard {
    width: 18rem;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: rgba(226, 246, 255, 1)
    
}

#userCard .card-body {
    display: flex;
    align-items: center;
    padding: 20px;
}

#avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-details {
    margin-left: 20px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.user-card-grid {
    padding: 1vmin;
    border-radius: 14px;
    box-shadow:  2.4vmin 2.4vmin 4.9vmin #bebebe,
    -2.4vmin -2.4vmin 4.9vmin #ffffff;
}