.profilePage {

}

#outerInfoContainer{
    display: flex;
    flex-direction: row;
    height: 17vmin;
    justify-content: space-between;
    margin: 1vmin 0 5vmin 0;
}

#innerInfoContainer {
    border: 1px solid lightgray;
    display: flex;
    height: 17vmin;
    justify-content: space-between;
    width: 70vmin;
    padding: 0 5vmin 0 5vmin;
}

#innerInnerInfoContainer {
    justify-content: flex-start;    
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 17vmin;
}

#aboutMe {

}
#photoContainer {
    background-color: rgba(125, 245, 39, 0.03);
    border: 1px solid lightgray;
    height: 100%;
    padding: 1vmin;
}

#profilePhoto {
    border-radius: 50%;
    height: 15vmin;
    width: 15vmin;
}

.thumbnail-container {
    width: calc(1440px * 0.25);
    height: calc(900px * 0.25);
    display: inline-block;
    overflow: hidden;
    position: relative;
}

/* .thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */

/* .thumbnail iframe {
    opacity: 0;
    transition: all 300ms ease-in-out;
} */

.thumbnail iframe {
    /* width: 100vmin; */
    height: 50vmin;
}