
.imageCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collaborators{
  display: flex;
  flex-direction: row;
}

.placard{
  background-color: rgba(255, 255, 255, 0.051);
  /* border: 1px solid rgba(126, 126, 126, 0.2); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.title{
  font-weight: bold;
}


/* .projectCard .imageCard {
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.projectCard.img .imageCard {
  opacity: 1;
}

.projectCard.img:hover .imageCard {
  opacity: 0;
} */