
.imageCard { 
  background-color: rgba(226, 246, 255, 0.75);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 10vmin;
  justify-content: center;
}

#cardProjectTitleWrapper {
  display: flex;
  justify-content: flex-end;
}

#cardInfoWrapper {
  transition: all .2s ease-in-out; 
  width: 42vmin;
  height: 25vmin;
}

#cardInfoWrapper:hover {
  transform: scale(1.2); 
}

.projectCard:hover {
  opacity: 0;
  transition: all 1s ease-in-out;
}

#cardProjectTitle {
  background-color: rgba(226, 246, 255, 0.75);
  border-radius: 20px;
  color: black;
  padding: 1vmin 2vmin 1vmin 2vmin ;
}

.collaborators{
  align-items: center;
  align-self: start;
  background-color: rgba(225, 235, 236, 0.75);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* height: 3vmin; */
  justify-content: center;
  padding: 1vmin;
}

.collaber {
  display: flex;
  justify-content: center;
}

.innerImageCard {

}

.placard{
  background-color: rgba(255, 255, 255, 0.051);
  /* border: 1px solid rgba(126, 126, 126, 0.2); */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
  display: flex;
  border-radius: 5%;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  justify-content: center;
}

.title{
  font-weight: bold;
}


/* .projectCard .imageCard {
  opacity: 1;
  transition: opacity 0.3s ease; 
}

.projectCard.img .imageCard {
  opacity: 1;
}

.projectCard.img:hover .imageCard {
  opacity: 0;
} */