@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

.App {
  align-items: center;
  display: flex;
  font-family: 'Spectral', serif;
  justify-content: center;
  text-align: center;
}

#viewContainer {
  /* width:100% */
}

.link {
  text-decoration: none;
}

.cardHolder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vmin;
  justify-content: center;
}

/* .card-body{
  
  justify-content: center;
  width: 42vmin;
  height: 25vmin;
  
 
} */

.card{
  border-radius: 14px;
  background: #e0e0e0;
  box-shadow:  2.4vmin 2.4vmin 4.9vmin #bebebe,
             -2.4vmin -2.4vmin 4.9vmin #ffffff;
 
}