@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

.App {
  align-items: center;
  display: flex;
  font-family: 'Spectral', serif;
  justify-content: center;
  text-align: center;
}

#viewContainer {
  /* width:100% */
}

.link {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.cardHolder{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}

.projectCard{
  padding: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 14px;
  width: 42vmin;
  height: 25vmin;
  box-shadow:  2.4vmin 2.4vmin 4.9vmin #bebebe,
  -2.4vmin -2.4vmin 4.9vmin #ffffff;
  grid-template-columns: 1fr 6fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

a{
  text-decoration: none;
}
.github-button {
  background-image: url('./images/GithubButton.png');
  background-size: cover;
  width: 250px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 15px;
}

.ccc-image {
  background-image: url('./images/CCCtext.png');
  width: 80vmin;
  height: 10vmin; 
  background-size: contain; 
  background-repeat: no-repeat; 
  margin-bottom: 0;
  display: flex ;
  justify-content: center;
  margin: 0;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}